.post {
  width: 50%;
  margin: 20px auto;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}
body {
  min-height: 100vh;
  background-color: #f7f7f7;
  background: url("main.jpg");
  background-size: 200%;
}

.header img {
  width: 70px;
  height: 50px;
  border-radius: 50%;
}

.post h2 {
  font-size: 20px;
  color: #333;
}
.post p {
  font-size: 16px;
  color: #666;
}
.post-form {
  width: 50%;
  padding: 30px;
  padding: 30%;
}
.post-form {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #efefef;
  border-radius: 10px;
}
#post-form-id {
  padding: 30px;
  margin-top: 5%;
  border: dashed 2.5px rgb(75, 75, 75);
}
.post-form label {
  font-weight: bold;
  color: #444;
}
.post-form input[type="text"],
.post-form textarea {
  width: 97%;
  padding: 10px;
  border: 2px dashed #737171;
  border-radius: 5px;
  margin: 10px;
}
.post-form input[type="file"] {
  margin: 10px 0;
}

.post-header {
  display: flex;
  align-items: center;
}
.post-image {
  width: 600px;
  height: auto;
}
.sign-image {
  width: 150px;
  height: 50px;
}
.post-profile-pic {
  width: 70px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-username {
  font-size: 20px;
  color: #333;
}

.post-form input[type="submit"]:hover {
  border: dashed 2px;
  background-color: #000000;
  color: white;
}
.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
  border: dashed 2.5px black;
  color: white;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 720px;
  padding: 0 20px;
}
.logo {
  max-height: 100px;
}
.user-section {
  display: flex;
  align-items: center;
}
.header img {
  width: 70px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.header button {
  padding: 5px 10px;
  background-color: #efefef;
  border: dashed 2.5px black;

  cursor: pointer;
}
.header button:hover {
  border: dashed 2px;
  background-color: #000000;
  color: white;
}
.comment-header {
  display: flex;
  align-items: center;
}
.comment img {
  width: 4em;
  height: 3em;
  margin-right: 10px;
}
.comment {
  display: flex;
  justify-content: space-between;
}

.delete-form {
  margin-left: auto;
}
.put-form {
  margin-left: auto;
}
.putpost-content {
  margin-left: auto;
}

.putpost {
  display: none;
}
.putcomment-form {
  margin-left: auto;
}
.putcomment {
  display: none;
}
